.bgimg-1 {
    background-position: center;
    background-size: cover;
    min-height: 100%;
}

img{
  height: 375px;
  object-fit: cover;  
  padding: 20px;
}


#mycard{
  height: 400px;
}
  
.event-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

footer{
  background-color: brown;
}

.button-joined {
  background-color: red; /* Change to your desired color */
  color: white; /* Change to your desired color */
  border: 1px solid red; /* Change to your desired color */
}